// Footer Style
.df-footer {
    background-color: $brand;
}
.df-footer__version {
    display: none!important;
}
.df-footer__legal {
    float: left;
    text-align: left;
    color: #fff;
    font-family: $font!important;
}

.df-footer__legal > a {
    font-family: $font!important;
}

.df-logo-footer {
    float: right;
    width: 49px;
}