// Footer Style
.df-footer {
    background-color: #44505A;
}
.df-footer__version {
    display: none!important;
}
.df-footer__legal {
    float: left;
    text-align: left;
    color: $white;
    font-family: $roboto!important;
}

.df-footer__legal > a {
    font-family: $roboto!important;
}

.df-logo-footer {
    float: right;
    width: 49px;
}
.hr {color: #fff}